<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
        <div class="w-size14 p-t-30 respon5">
            <div class="content">
                <div class="row">
                    <span class="s-text8">Категорія: {{ item_details.category.name }}</span>
                </div>
                <div class="row">
                    <h4 class="product-detail-name m-text16 p-b-13">{{ item_details.name }}</h4>
                </div>
                <div class="row">
                    <div class="col-2">
                        <span class="s-text6">Залишок:</span>
                    </div>
                    <div class="col">
                        <span class="s-text6">{{ item_details.stock }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <span class="s-text6">SKU:</span>
                    </div>
                    <div class="col">
                        <span class="s-text6">{{ item_details.sku }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <span class="s-text6">Рекомендована ціна:</span>
                    </div>
                    <div class="col">
                        <span class="font-weight-bold">{{ item_details.price }} UAH</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="s-text8 p-t-10">
                            {{ item_details.description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>